/* cambiar tipo de letra */
nav.navbar ul.nav li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 
/* cambiar el color de fondo a la barra */
nav.navbar {
    background-color: #1b5a8f;
}

a.nav-link{
    color: #dfe0e6;
    font-size: 130%;
    margin-top: 12px;

}

ul.nav.navbar-nav{
    margin-left: 8%;
    size: 100px;
}

img.icon{
    margin-top: 10%;
    max-width: 75%;
    max-height: 75%;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

a.resaltar:hover {
    color:#929292
}



