<div class = "container">
    <div class="p-5 text-center bg-light">
      <img class="icon" src = "../../assets/img/logo_miningblock_blue.png">
    </div>

    <div class="row">
        <div class="col-md-3">
            <i class="bi bi-currency-bitcoin"></i>
            <h4>¿Que es blockchain?</h4>
            <p class="description">Atención personalizada por teléfono y correo electrónico con una calidad de entrega superior al 95% de eficacia.</p>
            <a href="#pkp" class="btn btn-link">+ Info</a>
         </div>
        <div class="col-md-3">
            <i class="nc-icon nc-chart-bar-32"></i>
            <h4>Nodos</h4>
            <p>Reduce la factura del transporte. Aumenta la rentabilidad.</p>
            <a href="#pkp" class="btn btn-link">+ Info</a>
        </div>
        <div class="col-md-3">
            <i class="nc-icon nc-bulb-63"></i>
            <h4>Rig</h4>
            <p>Herramientas e integraciones informáticas para la gestión de envios.</p>
            <a href="#pkp" class="btn btn-link">+ Info</a>
        </div>
        <div class="col-md-3">
            <i class="nc-icon nc-sun-fog-29"></i>
            <h4 class="info-title azul">Calculadora</h4>
            <p>Más de 30 años de experiencia en el sector nos avalan. Empresa certificada como operador postal y transporte urgente.</p>
            <a href="#pkp" class="btn btn-link">+ Info</a>
        </div>
    </div>
</div>
